<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>BoolZapp</title>
</head>
<body class="">
    <div id="root" class="main-container">
        <div class="container">
            <!-- Sidebar laterale con Profilo e Contatti -->
            <div class="sidebar">
                <div class="profile">
                    <div class="my-profile-info">
                        <img class="profile-img" src="img/avatar_io.jpg" alt="Profile image">
                        <div class="my-profile-name">
                            Paolo Dossetto
                        </div>
                    </div>
                    
                    <div class="profile-btn">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="notification">
                    <div class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="notification-text">
                        <div class="h3">Ricevi notifiche di nuovi messaggi</div>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="chat-search">
                    <div class="search-icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <input placeholder="Cerca o inizia una nuova chat" type="text" name="search" id="search">
                </div>

                <div class="chat-list">
                    <ul>
                        <li v-for="(contact, index) in contacts" @click="select(index), changeAvatar(index)">
                            <img class="profile-img" :src="ImageNumber(index)" alt="img">
                            <p>{{ contact.name }}</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Chat attiva -->
            <div class="main">
                <div class="chat-header">
                    <div class="chat-info">
                        <img class="profile-img" :src="currentAvatar" alt="img">
                        <div class="contact">
                            <div>{{ currentContact.name }}</div>
                            <p>Ultimo accesso oggi alle (data)</p>                            
                        </div>                        
                    </div>
                    <div class="profile-btn">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="chat-area">
                    <div v-for="messaggio in currentContact.messages" :class="messaggio.status === 'sent' ? 'my-message' : 'contact-message'" class="message-bubble">
                        <div class="message-text">{{ messaggio.message }} <span><i class="fas fa-chevron-down"></i></span> </div>
                        <p class="message-date">{{messaggio.date}}</p>
                    </div>

                </div>

                <div class="chat-message">
                    <i class="far fa-smile"></i>
                    <input placeholder="Scrivi un messaggio" type="text" name="chat-input" id="chat-search">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>
</html>